#banner {
    widht:100%;
}

h1 {
    color: rgb(228, 224, 31);
    font family: arial;
}

nav ul {
    background-color: rgb(247, 142, 4);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav li{
    float: left;
}

nav a{
    color: rgb(63, 221, 200);
    display: block;
    font family: arial;
    padding: 10px 10px;
    text-decoration: none;
}

nav a:hover{
    background-color: blue;
}