{% extends 'universitas.html' %}
{% block content %}

<center>
    <h1>Form untuk Menambahkan Data Tendik Faperta</h1>
</center>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if pesan %}
              <div class="alert alert-success">{{ pesan }}</div>
            {% endif %}

            <form action="/tambah-tendik/" method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-primary">Tambah Tendik</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}              