{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{judul}}</title>
</head>
<body>
    <img style="width:100%" src="{% static "img/banner_home.png" %}" alt="">
    <h1>{{subjudul}}</h1>

    <ul>
        <li><a href="/faperta">faperta</a></li>
        <li><a href="/feb">feb</a></li>
        <li><a href="/fh">fh</a></li>
        <li><a href="/fisip">fisip</a></li>
        <li><a href="/fk">fk</a></li>
        <li><a href="/fkip">fkip</a></li>
        <li><a href="/ft">ft</a></li>
        <li><a href="/pascasarjana">pascasarjana</a></li>
    </ul>
</body>
</html>